/*set body color for all pages*/
body{
    background-color: #eeeeee;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*padding adjusted to match navbar width and color*/
#header{
    background-color: #3383ff;
    color: white;
    text-align: center;
    padding-top: 1px;
	padding-bottom: 1px;
}
/*set padding between graphs and comments*/
.pix-note {
    padding-top: 20px;
}

/*set scheme for footer*/
footer {
    background-color: #3383ff;
    color: whitesmoke;
    padding: 10px;
}