/*set body color for all pages*/
body{
    background-color: #eeeeee;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*padding adjusted to match navbar width*/
#header{
    background-color: #66CCFF;
    color: white;
    text-align: center;
    padding: 1px;
}

/* container turned off here  
#container{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
} 
this is turned off */


/*testing on watermark

.watermark {
    width: 300px;
    height: 100px;
    display: block;
    position: relative;
  }
  
  .watermark::after {
    content: "";
    background: href="directions.jpg";
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } 
 
testing on watermark*/

footer {
    background-color: darkblue;
    color: whitesmoke;
    padding: 10px;
}