body{
    background-color: #eeeeee;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*a{
    text-decoration: none;
    color: red;
} turned off */

/*h1, h2, h3{
    margin: 0;
} turned off */

#header{
    background-color: #66CCFF;
    color: white;
    text-align: center;
    padding: 10px;
}

/* container turned off here  
#container{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
} 
this is turned off */


/*testing on watermark*/
/*nothing has been assigned to this watermark - ideally this would be some type of palm tree?*/
/*
.watermark {
    width: 300px;
    height: 100px;
    display: block;
    position: relative;
  }
  
  .watermark::after {
    content: "";
   background:url(https://www.google.co.in/images/srpr/logo11w.png);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } 
  turned off */


footer {
    background-color: darkblue;
    color: whitesmoke;
    padding: 10px;
}